@{
    ViewBag.Title = "CinemaASP";
}

<div class="jumbotron">
    <h1>CinemaASP</h1>
</div>

<div style="overflow: hidden;">
    <div style="width: 1000%;">
        <div style="float: left; width: 150px; height: 100px;"><h2>Films</h2><a class="btn btn-default" href="http://localhost:58352/Films">View &raquo;</a></div>
        <div style="float: left; width: 150px; height: 100px;"><h2>Genres</h2><a class="btn btn-default" href="http://localhost:58352/Genres">View &raquo;</a></div>
        <div style="float: left; width: 150px; height: 100px;"><h2>Actors</h2><a class="btn btn-default" href="http://localhost:58352/Actors">View &raquo;</a></div>
        <div style="float: left; width: 150px; height: 100px;"><h2>FGAs</h2><a class="btn btn-default" href="http://localhost:58352/FGAs">View &raquo;</a></div>
    </div>
</div>